aniso8601==9.0.1
attrs==21.4.0
click==8.0.4
dataclasses==0.8
Flask==2.0.3
flask-restx==0.5.1
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
jsonformatter==0.3.1
jsonschema==3.2.0
MarkupSafe==2.0.1
pyrsistent==0.18.0
python-dotenv==0.20.0
pytz==2022.1
six==1.16.0
tabulate==0.8.9
typing-extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
